<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>

<div class="nav">
  <ul>
    <li>
      <div class="title">
        <p>taara</p>
      </div>
    </li>
    <li>
      <div class="cretae">
        <button><i class="fa-regular fa-pen-to-square"></i></button>
      </div>
    </li>
    <li>
      <div class="logout">
        <button>
          <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
        </button>
      </div>
    </li>
  </ul>
</div>
